.nav{
    display:flex;
    justify-content: space-between;
    z-index: 1;
    position:fixed;
    transition-timing-function: ease-in;
    transition:all 0.5;
}
.logo{
    position:fixed;
    object-fit: contain;
    width: 150px;
}
.avatar{
    position:fixed;
    top:17px;
    right:0;
    object-fit: contain;
    width: 45px;
    padding-right:20px;
}
.nav-black{
    background-color: black;
    height:70px;
    width:100%;
}